/*----------------------------*\
  1. GLOBAL
\*----------------------------*/

@font-face {
	font-family: "Proxima Nova Condensed";
	src: url("https://cdn.rawgit.com/rickMcGavin/BBT-Quotes/b81e3aa4/fonts/Mark%20Simonson%20-%20Proxima%20Nova%20Condensed%20Black.otf") format("opentype");
}


html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
  background-color: #F5F5F5;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row {
	display: flex;
}

.no-display {
	display: none;
}






/*----------------------------*\
	2. IMAGE PANEL
\*----------------------------*/


.image-container {
	width: 170px;
	height: 490px;
	display: flex;
	flex-direction: column;
	transition: background-image 0.5s ease-out;
}

	.image-container--sheldon {
		background-image: url("https://cdn.rawgit.com/rickMcGavin/BBT-Quotes/02c4a7b4/images/sheldon.png");
	}

	.image-container--amy {
		background-image: url("https://cdn.rawgit.com/rickMcGavin/BBT-Quotes/02c4a7b4/images/amy.png");
	}

	.image-container--penny {
		background-image: url("https://cdn.rawgit.com/rickMcGavin/BBT-Quotes/02c4a7b4/images/penny.png");
	}

	.image-container--howard{
		background-image: url("https://cdn.rawgit.com/rickMcGavin/BBT-Quotes/02c4a7b4/images/howard.png");
	}

	.image-container--raj {
		background-image: url("https://cdn.rawgit.com/rickMcGavin/BBT-Quotes/02c4a7b4/images/raj.png");
	}

	.image-container--leonard {
		background-image: url("https://cdn.rawgit.com/rickMcGavin/BBT-Quotes/02c4a7b4/images/leonard.png");
	}

	.image-container__quote-marks {
		margin-top: 60px;
		align-items: center;
	}

	.image-container__arrows {
		margin: 325px 0 0 44px;
		cursor: pointer;
	}





/*----------------------------*\
	3. QUOTE PANEL
\*----------------------------*/

.quote-box {
  height: 490px;
  width: 700px;
  transition: background-color 0.5s ease-out;
	box-shadow: 0px 30px 60px 0px rgba(0,0,0, 1);
}

.quote-box--sheldon {
	background-color: #18a0ff;
}

.quote-box--amy {
		background-color: #1ebd7a;

}

.quote-box--penny {
	background-color: #a972cc;
}

.quote-box--howard {
	background-color: #b0aca8;
}

.quote-box--raj {
	background-color: #6fc5d2;
}

.quote-box--leonard {
	background-color: #bca77d;
}

.quote-container {
	width: 530px;
}


.row--justify-right {
	width: 530px;
	justify-content: flex-end;
	padding: 20px 20px 0 0;
}

.quote-container__heart-body {
	border-radius: 40px;
	cursor: pointer;
	height: 30px;
	width: 65px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	transition: background-color 0.5s ease-out;
}

	.quote-container__heart-body--sheldon {
		background-color: #1690e5;
	}

	.quote-container__heart-body--amy {
		background-color: #1ca568;
	}

	.quote-container__heart-body--penny {
		background-color: #a658cf;
	}

	.quote-container__heart-body--howard {
		background-color: #969097;
	}

	.quote-container__heart-body--raj {
		background-color: #51b4c5;
	}

	.quote-container__heart-body--leonard {
		background-color: #a29a79;
	}

.quote-container__heart-numbers {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 0.75rem;
	line-height: 1.2;
	margin-left: 8px;
	margin-top: 6px;
	align-self: baseline;
}

.quote-container__inner {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.25s ease-out;
}

.quote-container__inner--animateUp {
	transform: translateY(-100%);
	opacity: 0;
}

.quote-container__text {
	color: #F5F5F5;
	font-family: 'Proxima Nova Condensed', sans-serif;
	font-size: 3.25rem;
	padding: 15px 80px 10px 40px;
	line-height: 1;
	text-transform: uppercase;
}

.quote-container__author {
	color: #F5F5F5;
	font-size: 0.875rem;
	font-family: 'Open Sans';
	padding-left: 40px;
	padding-bottom: 35px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

